.search-group:after {
    content : "";
    height : 0;
    visibility : hidden;
    display : block;
    clear : both;
}

.search-group .search-type {
    display: inline-block;
    float: right;
}

.search-group .search-keyword {
    display: inline-block;
    float: right;
    width: 300px;
}

ul.pagination li a {
    cursor: pointer;
    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;
}