@import "../../lib/bootstrap/dist/css/bootstrap.min.css";
@import "../../lib/flat-ui/dist/css/flat-ui.min.css";
@import "login_modal.css";

body {
    background-color: #2C3E50;
}

form .center-row {
    text-align: center;
    width: 100%;
}

.center-row {
    text-align: center;
}

a {
    cursor: pointer;
}

.bootbox-body {
    color: whitesmoke;
}