<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.CodeDao">
    <resultMap type="Code" id="codeResultMap">
        <id property="id" column="id"></id>
        <result property="length" column="length"></result>
        <result property="codeValue" column="code_value"></result>
        <result property="language" column="language"></result>
        <association property="idParam" resultMap="com.bppleman.dao.IDParamDao.idParamResultMap"></association>
    </resultMap>

    <select id="getCodeByID" resultMap="codeResultMap">
        SELECT * FROM code
        WHERE id = #{param1}
    </select>
    
    <select id="getCode" resultMap="codeResultMap">
        SELECT * FROM code
        WHERE contest_id = #{param.contestId}
        AND exam_id = #{param.examId}
        <if test="param.userId != -1">AND user_id=#{param.userId}</if>
        <if test="param.problemId != -1">AND problem_id=#{param.problemId}</if>
    </select>

    <insert id="insertCode" parameterType="Code" keyProperty="id">
        INSERT INTO code(user_id, problem_id, contest_id, exam_id, length, code_value, language)
        VALUES (#{idParam.userId}, #{idParam.problemId}, #{idParam.contestId}, #{idParam.examId}, #{length}, #{codeValue}, #{language})
    </insert>
</mapper>