<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.ContestProblemUserSolveDao">
    <resultMap type="UserSolve" id="contestProblemUserSolveResultMap">
        <id property="id" column="id"/>
        <result property="solveState" column="solve_state"></result>
        <association property="idParam" resultMap="com.bppleman.dao.IDParamDao.idParamResultMap"></association>
    </resultMap>

    <select id="getUserSolve" resultMap="contestProblemUserSolveResultMap">
        SELECT * FROM contest_problem_user_solve
        WHERE user_id = #{param1}
        AND contest_id = #{param2}
    </select>

    <select id="getUserSolveByParam" resultMap="contestProblemUserSolveResultMap">
        SELECT * FROM contest_problem_user_solve
        WHERE user_id = #{param1}
        AND problem_id = #{param2}
        AND contest_id = #{param3}
    </select>

    <insert id="insertUserSolve" keyProperty="id">
        INSERT INTO contest_problem_user_solve
        (user_id, problem_id, contest_id, solve_state)
        VALUES
        (#{idParam.userId}, #{idParam.problemId}, #{idParam.contestId}, #{solveState})
    </insert>

    <update id="updateUserSolve">
        UPDATE contest_problem_user_solve
        SET solve_state = #{solveState}
        WHERE user_id = #{idParam.userId}
        AND problem_id = #{idParam.problemId}
        AND contest_id = #{idParam.contestId}
    </update>

    <delete id="deleteUserSolve">
        DELETE FROM contest_problem_user_solve
        WHERE user_id = #{param1}
        AND problem_id = #{param2}
        AND contest_id = #{param3}
    </delete>
</mapper>