<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.CountDao">

    <select id="getCountByEqual" resultType="integer" parameterType="map">
        SELECT COUNT(*) FROM ${tableName}
        WHERE 1 = 1
        <foreach collection="args.keys" item="key">
            <if test="args[key] != null">
                AND ${key} = #{args[${key}]}
            </if>
        </foreach>
    </select>

    <select id="getCountByLike" resultType="integer" parameterType="map">
        SELECT COUNT(*) FROM ${tableName}
        WHERE 1 = 1
        <if test="args.columnName != null and args.value != null">
            AND ${args.columnName} LIKE CONCAT(CONCAT('%',#{args.value}),'%')
        </if>
    </select>
</mapper>