<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.IDParamDao">
    <resultMap type="IDParam" id="idParamResultMap">
        <result property="userId" column="user_id"></result>
        <result property="problemId" column="problem_id"></result>
        <result property="contestId" column="contest_id"></result>
        <result property="examId" column="exam_id"></result>
    </resultMap>
</mapper>