<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.LabelDao">
    <resultMap type="Label" id="labelResultMap">
        <id property="id" column="id"></id>
        <result property="type" column="type"></result>
        <collection property="values" column="type" select="getValueByType"></collection>
    </resultMap>

    <select id="getLabels" resultMap="labelResultMap" resultType="Label">
        SELECT type FROM label
        GROUP BY type
    </select>
    
    <select id="getLabelValues" resultType="string">
        SELECT value FROM label
    </select>

    <select id="getValueByType" resultType="string">
        SELECT value FROM label
        WHERE type=#{param1}
    </select>

    <select id="getProblemByValue" resultMap="com.bppleman.dao.ProblemDao.problemResultMap">
        SELECT p.*
        FROM problem p , problem_label pl
        WHERE p.id = pl.problem_id
        AND pl.label = #{param1}
    </select>
</mapper>