<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.ProblemRatioDao">
    <resultMap type="ProblemRatio" id="problemRatioResultMap">
        <id property="id" column="id" javaType="int"></id>
        <result property="submitTime" column="submit_time"></result>
        <result property="acTime" column="ac_time"></result>
        <result property="ratioValue" column="ratio_value"></result>
        <result property="problemId" column="problem_id"></result>
        <!--<association property=" resultMap="com.bppleman.dao.IDParamDao.esultMap"></association>-->
    </resultMap>

    <select id="getProblemRatio" resultMap="problemRatioResultMap">
        SELECT * FROM problem_ratio
    </select>

    <select id="getProblemRatioByProblemId" resultMap="problemRatioResultMap">
        SELECT * FROM problem_ratio
        WHERE problem_id = #{problemId}
    </select>

    <insert id="insertProblemRatio" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO problem_ratio
        (problem_id, submit_time, ac_time, ratio_value)
        VALUES
        (#{problemId}, #{submitTime}, #{acTime}, #{ratioValue})
    </insert>

    <update id="updateProblemRatio">
        UPDATE problem_ratio
        SET submit_time = #{submitTime},
        ac_time = #{acTime},
        ratio_value = #{ratioValue}
        WHERE problem_id = #{problemId}
    </update>

    <delete id="deleteProblemRatio">
        DELETE FROM problem_ratio
        WHERE problem_id = #{problemId}
    </delete>
</mapper>