<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.ProblemLabelDao">
    <select id="getProblemLabelByProblemId" resultType="ProblemLabel">
        SELECT * FROM problem_label
        WHERE problem_id = #{param1}
    </select>

    <select id="getProblemsByLabelValueWithPage" resultMap="com.bppleman.dao.ProblemDao.problemResultMap">
        SELECT p.* FROM problem p, (
        SELECT * FROM (
        SELECT * FROM problem_label
        WHERE label = #{param1}
        ) problem_label_temp1
        WHERE id >= (
        SELECT id FROM (
        SELECT id FROM problem_label
        WHERE label = #{param1}
        ) problem_label_temp2
        ORDER BY id LIMIT #{param2}, 1
        ) LIMIT #{param3}
        ) pl
        WHERE p.id = pl.problem_id
    </select>

    <select id="getProblemCountByLabelValue" resultType="Integer">
        SELECT COUNT(*) FROM problem_label
        WHERE label = #{param1}
    </select>

    <insert id="insertProblemLabel" parameterType="ProblemLabel" keyProperty="id">
        INSERT INTO problem_label
        (problem_id, label)
        VALUES
        (#{problemId}, #{label})
    </insert>

    <update id="updateProblemLabel" parameterType="ProblemLabel">
        UPDATE problem_label SET
        problem_id = #{problemId},
        label = #{label}
        WHERE id = #{id}
    </update>

    <delete id="deleteProblemLabelByProblemId">
        DELETE FROM problem_label
        WHERE problem_id = #{param1}
    </delete>

    <delete id="deleteProblemLabelByProblemLabelId">
        DELETE FROM problem_label
        WHERE id = #{param1}
    </delete>
</mapper>