<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.StatusDao">
    <resultMap type="Status" id="statusResultMap">
        <id property="id" column="id"></id>
        <result property="codeId" column="code_id"></result>
        <result property="statusValue" column="status_value"></result>
        <result property="time" column="time"></result>
        <result property="memory" column="memory"></result>
        <result property="compileInfo" column="compile_info"></result>
        <result property="date" column="date" javaType="java.sql.Timestamp"></result>
        <association property="idParam" resultMap="com.bppleman.dao.IDParamDao.idParamResultMap"></association>
        <association property="code" column="code_id" select="com.bppleman.dao.CodeDao.getCodeByID"></association>
    </resultMap>

    <select id="getStatus" parameterType="IDParam" resultMap="statusResultMap">
        SELECT * FROM status
        WHERE contest_id = #{contestId}
        AND exam_id = #{examId}
        <if test="userId != -1">AND user_id = #{userId}</if>
        <if test="problemId != -1">AND problem_id = #{problemId}</if>
        ORDER BY id DESC
    </select>

    <select id="getStatusByIDs" resultMap="statusResultMap">
        SELECT * FROM status
        WHERE id in
        <foreach collection="list" item="id" open="(" close=")"
                 separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getTheLastInsertStatus" resultMap="statusResultMap">
        SELECT * FROM status
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="getProblemXXTimesByUserId" resultType="Integer">
        SELECT COUNT(*) FROM status
        WHERE contest_id = #{param.contestId}
        AND exam_id = #{param.examId}
        AND user_id = #{param.userId}
        AND problem_id = #{param.problemId}
        <if test="statueValue != null">
            AND status_value = #{statueValue}
        </if>
    </select>

    <insert id="insertStatus" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO status(user_id, problem_id, contest_id, exam_id, code_id, status_value, time, memory, date)
        VALUES (#{idParam.userId}, #{idParam.problemId}, #{idParam.contestId}, #{idParam.examId}, #{codeId}, #{statusValue}, #{time}, #{memory}, #{date})
    </insert>

    <update id="updateStatus" parameterType="Status">
        UPDATE status SET
            status_value = #{statusValue},
            time = #{time},
            memory = #{memory},
            compile_info = #{compileInfo},
            date = #{date}
        WHERE
        id = #{id}
    </update>
</mapper>