<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bppleman.dao.TableCountDao">

    <select id="getTableCount" resultType="Integer">
        SELECT table_count
        FROM t_table_count
        WHERE table_name = #{tableName}
    </select>

    <update id="updateTableCount">
        UPDATE t_table_count
        SET table_count = (table_count ${param3} #{param2})
        WHERE table_name = #{param1}
    </update>
</mapper>